<h2><%= @task.title %></h2>
<div class="container">
  <p>IMPORTANTE:<%= @task.details %></p>
</div>

<p><label><input type="checkbox" id="cbox1" value="first_checkbox"> "This task is complete" </label></p>
<p><li><%= link_to "editar", edit_task_url(@task) %></li></p>
<p><li><%= link_to "Volver a la lista", tasks_path(@task) %></li></p>
<p><li><%= link_to "Eliminar", tasks_path(@task), method: :delete %></li></p>


